@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/gothampro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/gothampro_medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/gothampro_bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/gothampro_black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/gothampro_light.ttf");
  font-weight: 300;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "GothamPro", sans-serif;
  color: white;
}

.container {
  margin: 0 50px;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg_main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-header {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(7.5px);
}

.nav {
  height: 125px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.50);
  font-size: min(4vw, 40px);
  /* font-size: 40px; */
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.menu {
  width: min(70px, 10vw);
  transition: all 0.3s linear;
}

.menu:hover, .menu:active {
  fill: #CECECE;
  /* filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.50)); */
  /* transition: all 1s linear; */
}

.sidebar {
  border-radius: 0 50px 50px 0;
  position: fixed;
  left: -500px;
  top: 0;
  width: 500px;
  height: 100%;
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 1);
  transition: all .4s linear;
  z-index: 2;
}

.sidebar__nav {
  list-style: none;
}

.sidebar__nav-item {
  /* padding: calc(calc(100vh - calc(32px * 6))  / 12) 0 calc(calc(100vh - calc(32px * 6))  / 12) 50px; */
  transition: background-color 0.4s linear;
}

.sidebar__nav-item:first-child, .sidebar__nav-item:hover:first-child {
  border-top-right-radius: 50px;
}

.sidebar__nav-item:last-child, .sidebar__nav-item:hover:last-child {
  border-bottom-right-radius: 50px;
}

.sidebar__nav-item:hover {
  background-color: rgba(0, 0, 0, 1);
}

.sidebar__nav-item:hover .sidebar__nav-item_link {
  padding-left: 20px;
  color: #FFF;
}

.sidebar__nav-item_link {
  padding: calc(calc(100vh - calc(28px * 6)) / 12) 0 calc(calc(100vh - calc(28px * 6)) / 12) 50px;
  display: block;
  width: 450px;
  text-transform: uppercase;
  font-size: 28px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: all 0.4s linear;
}

#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
}

label #btn {
  left: 50px;
  top: 37.5px;
  transition: all .4s linear;
}

label #cancel {
  left: -400px;
  top: 37.5px;
  z-index: 10;
  transition: all .4s linear;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn {
  left: 500px;
  opacity: 0;
  pointer-events: none;
}

#check:checked~label #cancel {
  left: 400px;
}

.header-content {
  margin-top: 150px;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 70px; */
  text-align: center;
}

.title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.50);
  font-size: clamp(24px, 6vw, 80px);
  /* font-size: 80px; */
  font-weight: 700;
}

.description {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
  font-size: min(4vw, 40px);
  /* font-size: 40px; */
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 4px;
}

.btns {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.btn-link {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-decoration: none;
  padding: 23px 41px;
  position: relative;
  border-radius: 39.5px;
  z-index: 1;
  transition: transform 0.2s ease;
}

.btn-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 39.5px;
  border: 3px solid transparent;
  background: linear-gradient(90deg, #739c0c, #bbb868) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  transition: background 0.5s;
}

.btn-link::after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 39.5px;
  background: transparent;
  transition: opacity 0.3s linear;
}

.btn-link:hover::before {
  background: transparent;
  border: none;
  -webkit-mask: none;
  z-index: -1;
}

.btn-link:hover::after {
  opacity: 1;
  z-index: -1;
  background: linear-gradient(270deg, #bbb868, #739c0c);
}

.btn-link:active {
  transform: scale(0.9);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 125px;
  background: linear-gradient(180deg, #675D50 0%, #3B3C37 16.67%, #000 34.9%, #252423 56.25%, #4E473F 76.04%, #566F1F 100%) !important;
}

.about-lyceum {
  height: 100vh;
  /* background: linear-gradient(180deg, #675D50 0%, #43423D 100%); */
}

.bg-figure {
  transform: scale(0.8);
  z-index: 1;
}

.main-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descripton-about-luceum {
  position: absolute;
  max-width: 1380px;
  color: #FFF;
  text-align: justify;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 122.5%;
  /* 58.8px */
  letter-spacing: 1.2px;
  z-index: 2;
}

/* PLACES STUDY */

.places-study {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(180deg, #43423F 0%, #000 100%); */
}

.header_article {
  margin-bottom: 60px;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 80px */
  letter-spacing: 5.6px;
}

.content_places-study {
  display: flex;
  justify-content: space-between;
}

.place-img {
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  margin-right: 350px;
}

.item-content_places-study {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header_item-content {
  color: #FFF;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.description_item-content {
  width: 660px;
  color: #FFF;
  text-align: justify;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
  font-size: 40px;
  font-weight: 300;
  line-height: 122.5%;
  /* 49px */
  letter-spacing: 1px;
}

.to-place {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
}

.to-place:hover {
  filter: drop-shadow(5px 5px 10px #ffffff);
}

.to-place:active {
  transform: scale(0.95);
}


.to-place span {
  padding-bottom: 4px;
  color: #FFF;
  text-align: justify;
  font-size: 32px;
  font-weight: 300;
  line-height: 122.5%;
  /* 39.2px */
  letter-spacing: 0.8px;
  border-bottom: 2px solid #FFF;
}

.slider__item {
  display: none;
}

.slider__item_active {
  display: block;
}

/* -------------------- */
/* PROGRAM */
.program {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(180deg, #000 0%, #1E1E1E 100%); */
}

.program-items {
  display: flex;
  justify-content: space-between;
}

.program-item-first {
  width: 640px;
}

.description_first-item {
  margin-bottom: 100px;
  color: #FFF;
  text-align: justify;
  font-size: 40px;
  font-weight: 300;
  line-height: 122.5%;
  /* 49px */
  letter-spacing: 1px;
}

.btn_program-item {
  padding: 23px 200px;
  transition: transform 0.5s ease-in;
}

.btn_program-item:active {
  transform: scale(0.9);
}

.program-item-second {
  width: 900px;
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.departments {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 50px 30px;
  border-radius: 100px;
  background: linear-gradient(256deg, #5D9400 0%, #B2B700 100%);
}

.header-departments {
  margin-bottom: 50px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.descriptions-departaments {
  text-align: justify;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.65px;
}

.list-departaments {
  margin-left: 25px;
  margin-top: 25px;
  text-align: justify;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.65px;
  list-style-type: disc;
}

.list-departaments li:first-child {
  margin-bottom: 25px;
}

.right-subjects {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header_right-subjects {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
}

.cards {
  display: flex;
  gap: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-img {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
}

.card-img img {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.subjects-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}

/* NOT BORING */
.not-boring {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(180deg, #1E1E1E 0%, #675D50 145.52%); */
}

.slider {
  width: 1px;
  padding-top: 50px;
  height: 100vh;
}

.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 60px;
  position: relative !important;
}

.slider-container h2 {
  position: absolute;
  top: 0px;
  left: 0;
}

.not-boring_description {
  position: absolute;
  bottom: 0;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 122.5%;
  /* 36.75px */
  letter-spacing: 0.75px;
}

.imgContainer {
  width: 80%;
  height: 650px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slide_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -50px;
}

.img {
  position: relative;
  height: 450px;
  width: 450px;
  transition: 0.7s;
  filter: blur(3.5px);
  border-radius: 50px;
}

.button {
  border-radius: 50px;
  position: absolute;
  width: 450px;
  height: 450px;
  transition: 0.7s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#slider1:target~.imgContainer #img1,
#slider1:target~.imgContainer #button1 {
  z-index: 1;
  width: 600px;
  height: 600px;
  filter: blur(0px);
}

#slider2:target~.imgContainer #img2,
#slider2:target~.imgContainer #button2 {
  z-index: 1;
  width: 600px;
  height: 600px;
  filter: blur(0px);
}

#slider3:target~.imgContainer #img3,
#slider3:target~.imgContainer #button3 {
  z-index: 1;
  width: 600px;
  height: 600px;
  filter: blur(0px);
}

#slider1:target~.imgContainer {
  left: 20%;

}

#slider2:target~.imgContainer {
  left: 10%;

}

#slider3:target~.imgContainer {
  left: 0%;

}



/* MAIN EVENTS */
.swiper-button-next, .swiper-button-prev {
  color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.main-events {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(180deg, #504940 0%, #5D9400 192.57%); */
}

.main-events__slider-container {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 150px;
  width: 1445px;
  height: 700px;
}

.main-events__card {
  width: 1445px;
  height: 700px;
  border-radius: 150px;
  position: relative;
  overflow: hidden;
}

.main-events__card .main-events__image-content {
  position: relative;
  z-index: 1;
}

.main-events__card:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/event1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c2::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/event2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c3::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/event3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c4::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/event4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cr2::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/creative2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cr3::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/creative3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cr4::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../img/main-events/creative4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-events__overlay {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 545px;
}

.main-events__image-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-events__image-content h3 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.5%;
  /* 68.6px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.main-events__image-content p {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 122.5%;
  /* 36.75px */
  letter-spacing: 0.75px;
}

.main-events__card-image {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;

}

.main-events__card-image .main-events__card-img {
  filter: opacity(150%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #000;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 250px;
  background-color: #1A2306;
}

.footer a {
  transition: filter 0.3s, transform 0.2s linear;
}

.footer a:hover {
  filter: drop-shadow(0 0 2px #fff);
}

.footer a:active {
  transform: scale(0.9);
}

.footer-container {
  padding: 0 300px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer .logo {
  font-size: 24px;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-group:first-child {
  gap: 40px;
}

.footer-group a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
}

.icon img {
  height: 50px;
  width: 50px;
}

.icons {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.copyright {
  font-size: 14px;
  color: #fff;
  width: 100%;
}

/* UNIVERSITY */
.university {
  width: 100%;
  background: linear-gradient(180deg, #675D50 0%, #000 33.3%, #252423 66.66%, #4E473F 100%) !important;
}

.description-list {
  margin-left: 40px;
  list-style-type: disc;
  font-size: 40px;
  font-weight: 300;
  line-height: 122.5%;
  letter-spacing: 1px;
}

.university_wrapper {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

.university__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.university__card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 550px;
  padding: 15px;
  border-radius: 75px;
  background: linear-gradient(256deg, #5D9400 0%, #B2B700 100%);
}

.university__card img {
  border-radius: 75px;
  width: 100%;
}

.university__card p {
  padding: 30px 0;
  text-align: center;
  font-size: clamp(12px, 1.8vw, 24px);
  font-weight: 300;
  line-height: 122.5%;
  letter-spacing: 0.75px;
}

.university__btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  width: 500px;
}

.description-list li {
  font-size: clamp(16px, 2.8vw, 40px);
}

/* PHYSICS */

.physics {
  width: 100%;
  background: linear-gradient(-45deg, #000 0%, #252423 70%, #566a2a 100%) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.physics__logo {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
  margin-top: 100px;
}

.physics__logo .card-img {
  width: 100px;
  height: 100px;
  position: relative;
}

.physics__logo .card-img img {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 17px;
  left: 17px;
}

.physics__logo .header_article {
  margin: 0;
}

.physics__description {
  margin: 0 100px;
  max-width: 1350px;
  text-align: justify;
  font-size: clamp(16px, 2.5vw, 40px);
  font-weight: 300;
  line-height: 122.5%;
  /* 49px */
  letter-spacing: 1px;
}

.physics__line {
  width: 1350px;
  width: min(1350px, 80%);
  margin: 60px 100px;
}

.physics__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.physics__wrapper .header__article {
  font-size: clamp(16px, 3.2vw, 40px);
  font-weight: 500;
  margin-top: 100px;
}

.splide {
  width: 80vw;
}

.splide__slide {
  padding: 15px;
  max-height: 500px;
  margin-right: 10vw;
}

.slide__line {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  max-height: 150px;
  margin-bottom: 60px;
}

.slide__line img {
  width: min(97px, 7vw);
}

.line-buttom__slide-title {
  height: 2px;
  width: 100%;
  border-bottom: 1px solid #FCB500;
  filter: drop-shadow(0px 5px 5px #FCB500);
}

.slide__title h3 {
  margin: 0;
  font-size: clamp(12px, 2.5vw, 32px);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.slide__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  font-size: clamp(12px, 2.5vw, 24px);
  font-weight: 300;
  line-height: 115%;
  letter-spacing: 1px;
}

.physics__table {
  margin: 100px 0;
  width: 80vw;
  border: 5px solid #939089;
  border-collapse: collapse;
  color: #939089;
  background: rgba(147, 144, 137, 0.12);
  box-shadow: 4px 4px 10px 0px #5D9400;
}

.physics__table tr {
  height: 90px;
}

.physics__table__item {
  font-size: clamp(12px, 2vw, 26px);
  font-weight: 500;
  padding: 5px;
  text-align: center;
  border: 5px solid #939089;
}

.link__table{
  padding: 23px 23px;
  border-radius: 58px;
  border: 3px solid #fff;
  margin-top: 60px;
  color: #FFF;
  text-decoration: none;
  font-size: clamp(16px, 2.5vw, 40px);
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
.link__table:hover{
  background-color: #fff;;
  color: #5D9400;
}
.link__table:active{
transform: scale(0.8);
}

.btn-page__link{
  position: fixed;
  top: 2vw;
  right: 2vw;
}
.btn-home__link{
  position: fixed;
  top: 2vw;
  left: 2vw;
}
.btn-home__link img, .btn-page__link img{
  width: min(100px, 5vw);
}

.card-img:has(a):hover {
  transform: translateY(-10px);
  filter: drop-shadow(0 0 10px #b3df23);
}